In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas as pd
import scipy.stats as stats

#Read in weather data CSV file and drop unnecessary columns
wildlife_df = pd.read_csv("Resources/WildlifeFinal.csv")
wildlife_df = wildlife_df.drop("Unnamed: 0.2", axis='columns')
wildlife_df = wildlife_df.drop("Unnamed: 0.1", axis='columns')
wildlife_df = wildlife_df.drop("Unnamed: 0", axis='columns')
# formatting date 
#pd.to_datetime(wildlife_df["Date"])
wildlife_df['Date'] = pd.to_datetime(wildlife_df['Date'])
wildlife_df.head() 
#view data type of each column in DataFrame
#print(wildlife_df.dtypes)

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,Description
0,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.000,0.000,0.0,Partly Cloudy
1,2018-05-07,2,66.1,42.9,55.5,06:17:00,20:29:00,0.000,0.000,0.0,Partly Cloudy
2,2018-05-08,0,65.4,40.6,53.8,06:16:00,20:30:00,0.000,0.000,0.0,Sunny
3,2018-05-09,53,69.7,43.1,56.5,06:15:00,20:31:00,0.055,0.055,0.0,Drizzle
4,2018-05-10,61,60.5,43.3,53.4,06:14:00,20:32:00,0.083,0.083,0.0,Light Rain

In [2]:
#Read wildlife data csv file
dataset_df = pd.read_csv("Resources/Full-Dataset-(2018-2020).csv")
dataset_df = dataset_df.rename(columns={'Photo.Date': 'Date'})
dataset_df['Date'] = pd.to_datetime(dataset_df['Date'])
dataset_df.head()
#print(dataset_df.dtypes)

,General.Project,Contact.Person.s.Last.Name,Station,Wild.Urban,Country,Timezone,Longitude,Latitude,General.Sampling.Period.Name,Date,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description
0,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Lupus Familiaris,Domestic Dog,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
4,Wasatch Wildlife Watch (UWIN Salt Lake City/Lo...,Green,d47256,Wild,USA,America/Denver,-111.70713,40.80159,Wasatch Mountains (May - October 2018),2018-05-06,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN

In [3]:
#Merge DataFrames: Left Join
wildlife_dfm = pd.merge(wildlife_df, dataset_df, on="Date", how="left")
wildlife_dfm.head()

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Lupus Familiaris,Domestic Dog,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
4,2018-05-06,2,69.9,40.4,56.0,06:19:00,20:27:00,0.0,0.0,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN

In [4]:
#exported wildlife_dfm to csv to share with the whole group 
#wildlife_dfm.to_csv("Resources/wildlife_dfm.csv")
#to view animal and number of sightings
animal_count = wildlife_dfm["Common.Name"].value_counts()
animal_count

Human non-staff             45893
Mule Deer                   11886
Domestic Dog                 8617
Bicycle                      6121
Northern Raccoon             5300
Red Fox                      4014
Domestic Cat                 1622
Domestic Horse               1048
Striped Skunk                 835
Moose                         699
American Red Squirrel         673
Rock Squirrel                 623
Coyote                        562
Elk aka Red Deer              431
Eastern Fox Squirrel          283
Mountain Cottontail           266
Puma                          161
Uinta Ground Squirrel         136
American Beaver               131
Bobcat                        130
Domestic Cow                  119
White-tailed Jackrabbit        96
North American Porcupine       78
Northern Flying Squirrel       74
Muskrat                        53
American Badger                28
Yellow-bellied Marmot          22
Snowshoe Hare                  21
American Black Bear            15
Western Spotted Skunk           2
Name: Common.Name, dtype: int64

In [6]:
# Specify the column name and the list of desired values you want to filter on
column_name = 'Common.Name'
desired_values = ['Human non-staff', 'Bicycle', 'Mule Deer', 'Northern Raccoon', 'Red Fox', 'Striped Skunk',  'Moose', 'Coyote', 'Elk aka Red Deer', 'Puma', 'American Beaver', 'Bobcat']

# Create a new DataFrame by filtering the rows based on the desired values using isin method
human_wildlife_df = wildlife_dfm[wildlife_dfm[column_name].isin(desired_values)].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_df.reset_index(drop=True, inplace=True)
human_wildlife_df

#Get only 2018 data
# Specify the column name that contains the dates
date_column = 'Date'

# Convert the column to pandas datetime if it's not already in datetime format
human_wildlife_df['Date'] = pd.to_datetime(human_wildlife_df['Date'])

# Create a new DataFrame by filtering the rows based on the year 2018
human_wildlife_2018 = human_wildlife_df[human_wildlife_df['Date'].dt.year == 2018].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2018.reset_index(drop=True, inplace=True)
human_wildlife_2018

#Get only 2020 data
# Specify the column name that contains the dates
date_column = 'Date'

# Convert the column to pandas datetime if it's not already in datetime format
human_wildlife_df['Date'] = pd.to_datetime(human_wildlife_df['Date'])

# Create a new DataFrame by filtering the rows based on the year 2020
human_wildlife_2020 = human_wildlife_df[human_wildlife_df['Date'].dt.year == 2020].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2020.reset_index(drop=True, inplace=True)
human_wildlife_2020

#Get only 2019 data
# Specify the column name that contains the dates
date_column = 'Date'

# Convert the column to pandas datetime if it's not already in datetime format
human_wildlife_df['Date'] = pd.to_datetime(human_wildlife_df['Date'])

# Create a new DataFrame by filtering the rows based on the year 2019
human_wildlife_2019 = human_wildlife_df[human_wildlife_df['Date'].dt.year == 2019].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2019.reset_index(drop=True, inplace=True)
human_wildlife_2019

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2019-05-03,1,47.2,26.2,36.8,06:22:00,20:24:00,0.0,0.0,0.00,...,Vulpes,Red Fox,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2019-05-03,1,47.2,26.2,36.8,06:22:00,20:24:00,0.0,0.0,0.00,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
2,2019-05-03,1,47.2,26.2,36.8,06:22:00,20:24:00,0.0,0.0,0.00,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
3,2019-05-03,1,47.2,26.2,36.8,06:22:00,20:24:00,0.0,0.0,0.00,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
4,2019-05-03,1,47.2,26.2,36.8,06:22:00,20:24:00,0.0,0.0,0.00,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28936,2019-12-28,71,16.9,9.5,12.0,08:50:00,18:06:00,0.0,0.0,0.28,...,Latrans,Coyote,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
28937,2019-12-28,71,16.9,9.5,12.0,08:50:00,18:06:00,0.0,0.0,0.28,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
28938,2019-12-28,71,16.9,9.5,12.0,08:50:00,18:06:00,0.0,0.0,0.28,...,Latrans,Coyote,Carnivore,1,Bushnell,Agressor,No,None,3,NaN
28939,2019-12-28,71,16.9,9.5,12.0,08:50:00,18:06:00,0.0,0.0,0.28,...,Hemionus,Mule Deer,Herbivore,4,Bushnell,Agressor,No,None,3,NaN
28940,2019-12-28,71,16.9,9.5,12.0,08:50:00,18:06:00,0.0,0.0,0.28,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN

In [7]:
#Using station d65901
# Specify the column name and the list of desired values you want to filter on
column_name = 'Station'
desired_values = ['d65901']

# Create a new DataFrame by filtering the rows based on the desired values using isin method
human_wildlife_1s = human_wildlife_2019[human_wildlife_2019[column_name].isin(desired_values)].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_1s.reset_index(drop=True, inplace=True)
human_wildlife_1s

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2019-06-05,2,67.7,42.4,56.8,05:56:00,20:54:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
1,2019-06-07,53,68.7,45.1,57.5,05:56:00,20:55:00,0.068,0.068,0.0,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
2,2019-06-08,51,48.1,36.3,42.0,05:55:00,20:56:00,0.004,0.004,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
3,2019-06-08,51,48.1,36.3,42.0,05:55:00,20:56:00,0.004,0.004,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
4,2019-06-09,0,57.0,29.9,45.2,05:55:00,20:56:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,2019-07-17,1,80.4,54.4,69.5,06:10:00,20:55:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
113,2019-07-17,1,80.4,54.4,69.5,06:10:00,20:55:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
114,2019-07-18,1,84.7,62.0,73.2,06:11:00,20:55:00,0.000,0.000,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN
115,2019-07-18,1,84.7,62.0,73.2,06:11:00,20:55:00,0.000,0.000,0.0,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
116,2019-07-18,1,84.7,62.0,73.2,06:11:00,20:55:00,0.000,0.000,0.0,...,Sapiens,Human non-staff,Omnivore,2,Bushnell,Agressor,No,None,3,NaN

In [8]:
#Using station d60066
# Specify the column name and the list of desired values you want to filter on
column_name = 'Station'
desired_values = ['d60066']

# Create a new DataFrame by filtering the rows based on the desired values using isin method
human_wildlife_2s = human_wildlife_2019[human_wildlife_2019[column_name].isin(desired_values)].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_2s.reset_index(drop=True, inplace=True)
human_wildlife_2s

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2019-05-05,51,57.0,29.7,43.0,06:20:00,20:26:00,0.016,0.016,0.0,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2019-05-05,51,57.0,29.7,43.0,06:20:00,20:26:00,0.016,0.016,0.0,...,Lotor,Northern Raccoon,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
2,2019-05-11,2,54.1,28.1,42.5,06:13:00,20:32:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
3,2019-05-11,2,54.1,28.1,42.5,06:13:00,20:32:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
4,2019-05-11,2,54.1,28.1,42.5,06:13:00,20:32:00,0.000,0.000,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2019-05-26,53,59.0,31.9,45.5,06:01:00,20:46:00,0.040,0.040,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
131,2019-05-29,51,54.6,32.6,45.3,05:59:00,20:49:00,0.028,0.028,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
132,2019-05-30,63,60.5,33.3,47.5,05:58:00,20:50:00,0.154,0.154,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
133,2019-05-30,63,60.5,33.3,47.5,05:58:00,20:50:00,0.154,0.154,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
134,2019-05-31,55,61.3,35.1,49.5,05:58:00,20:50:00,0.150,0.150,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN

In [9]:
#Using station d65909
# Specify the column name and the list of desired values you want to filter on
column_name = 'Station'
desired_values = ['d65909']

# Create a new DataFrame by filtering the rows based on the desired values using isin method
human_wildlife_3s = human_wildlife_2019[human_wildlife_2019[column_name].isin(desired_values)].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_3s.reset_index(drop=True, inplace=True)
human_wildlife_3s

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2019-07-02,1,81.3,52.3,68.0,06:00:00,21:01:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
1,2019-07-03,2,78.2,55.4,66.5,06:00:00,21:01:00,0.0,0.0,0.0,...,Alces,Moose,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
2,2019-07-03,2,78.2,55.4,66.5,06:00:00,21:01:00,0.0,0.0,0.0,...,Alces,Moose,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
3,2019-07-03,2,78.2,55.4,66.5,06:00:00,21:01:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
4,2019-07-03,2,78.2,55.4,66.5,06:00:00,21:01:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,2019-07-29,2,84.9,55.0,71.2,06:20:00,20:45:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
148,2019-07-29,2,84.9,55.0,71.2,06:20:00,20:45:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
149,2019-07-29,2,84.9,55.0,71.2,06:20:00,20:45:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN
150,2019-07-29,2,84.9,55.0,71.2,06:20:00,20:45:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,2,Bushnell,Agressor,No,None,3,NaN
151,2019-07-29,2,84.9,55.0,71.2,06:20:00,20:45:00,0.0,0.0,0.0,...,Hemionus,Mule Deer,Herbivore,1,Bushnell,Agressor,No,None,3,NaN

In [10]:
#Using station d55071
# Specify the column name and the list of desired values you want to filter on
column_name = 'Station'
desired_values = ['d55071']

# Create a new DataFrame by filtering the rows based on the desired values using isin method
human_wildlife_4s = human_wildlife_2019[human_wildlife_2019[column_name].isin(desired_values)].copy()

# If you want to reset the index of the new DataFrame
human_wildlife_4s.reset_index(drop=True, inplace=True)
human_wildlife_4s

,Date,Weathercode,Max Temperature,Min Temperature,Mean Temperature,Sunrise,Sunset,Total Precipitation,Total Rain,Total Snow,...,Species,Common.Name,Species.Diet,Number.of.Animals,Camera.Make,Camera.Model,Flash..Yes.or.No.,Bait.Used,Photos.per.trigger,Description_y
0,2019-05-09,73,44.6,27.9,36.4,06:15:00,20:30:00,0.152,0.032,0.828,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1,2019-05-09,73,44.6,27.9,36.4,06:15:00,20:30:00,0.152,0.032,0.828,...,Sapiens,Bicycle,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
2,2019-05-09,73,44.6,27.9,36.4,06:15:00,20:30:00,0.152,0.032,0.828,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
3,2019-05-09,73,44.6,27.9,36.4,06:15:00,20:30:00,0.152,0.032,0.828,...,Sapiens,Bicycle,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
4,2019-05-09,73,44.6,27.9,36.4,06:15:00,20:30:00,0.152,0.032,0.828,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,2019-06-07,53,68.7,45.1,57.5,05:56:00,20:55:00,0.068,0.068,0.000,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1309,2019-06-07,53,68.7,45.1,57.5,05:56:00,20:55:00,0.068,0.068,0.000,...,Sapiens,Bicycle,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1310,2019-06-07,53,68.7,45.1,57.5,05:56:00,20:55:00,0.068,0.068,0.000,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1311,2019-06-07,53,68.7,45.1,57.5,05:56:00,20:55:00,0.068,0.068,0.000,...,Sapiens,Bicycle,Omnivore,1,Bushnell,Agressor,No,None,3,NaN
1312,2019-06-07,53,68.7,45.1,57.5,05:56:00,20:55:00,0.068,0.068,0.000,...,Sapiens,Human non-staff,Omnivore,1,Bushnell,Agressor,No,None,3,NaN

In [11]:
#using dataframe human_wildlife_1s  Station d65901
# Group by 'Date' and 'Common Name' to get the total counts for each value in 'Common Name'
counts_per_common_name = human_wildlife_1s.groupby(['Date', 'Common.Name']).size().reset_index(name='Total Count')

# Group by 'Date' and check if 'human' or 'bicycle' is present in the 'Common Name' for each date
def check_human_or_bicycle(group):
    return 'Yes' if any(x in group.values for x in ['Human non-staff', 'Bicycle']) else 'No'

search_presence = human_wildlife_1s.groupby('Date')['Common.Name'].apply(check_human_or_bicycle).reset_index(name='Search Presence')

# Merge the two DataFrames to create a final DataFrame with three columns
final1_df = counts_per_common_name.merge(search_presence, on='Date')


## bar plot commented out so do not overwrite output
#plt.figure(figsize=(10, 6))
#for common_name in human_wildlife_1s['Common.Name'].unique():
#    plt.bar(final1_df[final1_df['Common.Name'] == common_name]['Date'],
#            final1_df[final1_df['Common.Name'] == common_name]['Total Count'],
#            label=common_name)

#plt.xlabel('Date')
#plt.ylabel('Total Count')
#plt.title('Station d65901: Total Counts for Each Animal')
#plt.legend()
#plt.xticks(rotation=45)
#plt.tight_layout()

# Save the plot to a PNG file
#plt.savefig('plot_d65901.png', dpi=300)  
#plt.show()

In [12]:
#using dataframe human_wildlife_2s Station d60066
# Group by 'Date' and 'Common Name' to get the total counts for each value in 'Common Name'
counts_per_common_name = human_wildlife_2s.groupby(['Date', 'Common.Name']).size().reset_index(name='Total Count')

# Group by 'Date' and check if 'human' or 'bicycle' is present in the 'Common Name' for each date
def check_human_or_bicycle(group):
    return 'Yes' if any(x in group.values for x in ['Human non-staff', 'Bicycle']) else 'No'

search_presence = human_wildlife_2s.groupby('Date')['Common.Name'].apply(check_human_or_bicycle).reset_index(name='Search Presence')

# Merge the two DataFrames to create a final DataFrame with three columns
final2_df = counts_per_common_name.merge(search_presence, on='Date')


# ## bar plot commented out so do not overwrite output
#plt.figure(figsize=(10, 6))
#for common_name in human_wildlife_2s['Common.Name'].unique():
#    plt.bar(final2_df[final2_df['Common.Name'] == common_name]['Date'],
#            final2_df[final2_df['Common.Name'] == common_name]['Total Count'],
#            label=common_name)

#plt.xlabel('Date')
#plt.ylabel('Total Count')
#plt.title('Station d60066: Total Counts for Each Common Name')
#plt.legend()
#plt.xticks(rotation=45)
#plt.tight_layout()

# Save the plot to a PNG file
#plt.savefig('plot_d60066.png', dpi=300)  
#plt.show()

In [13]:
#using dataframe human_wildlife_3s Station d65909
# Group by 'Date' and 'Common Name' to get the total counts for each value in 'Common Name'
counts_per_common_name = human_wildlife_3s.groupby(['Date', 'Common.Name']).size().reset_index(name='Total Count')

# Group by 'Date' and check if 'human' or 'bicycle' is present in the 'Common Name' for each date
def check_human_or_bicycle(group):
    return 'Yes' if any(x in group.values for x in ['Human non-staff', 'Bicycle']) else 'No'

search_presence = human_wildlife_3s.groupby('Date')['Common.Name'].apply(check_human_or_bicycle).reset_index(name='Search Presence')

# Merge the two DataFrames to create a final DataFrame with three columns
final3_df = counts_per_common_name.merge(search_presence, on='Date')


# ## bar plot commented out so do not overwrite output
#plt.figure(figsize=(10, 6))
#for common_name in human_wildlife_3s['Common.Name'].unique():
#    plt.bar(final3_df[final3_df['Common.Name'] == common_name]['Date'],
#            final3_df[final3_df['Common.Name'] == common_name]['Total Count'],
#            label=common_name)

#plt.xlabel('Date')
#plt.ylabel('Total Count')
#plt.title('Station d65909: Total Counts for Each Common Name')
#plt.legend()
#plt.xticks(rotation=45)
#plt.tight_layout()

# Save the plot to a PNG file
#plt.savefig('plot_d65909.png', dpi=300)  
#plt.show()

In [14]:
#using dataframe human_wildlife_4s station d55071
# Group by 'Date' and 'Common Name' to get the total counts for each value in 'Common Name'
counts_per_common_name = human_wildlife_4s.groupby(['Date', 'Common.Name']).size().reset_index(name='Total Count')

# Group by 'Date' and check if 'human' or 'bicycle' is present in the 'Common Name' for each date
def check_human_or_bicycle(group):
    return 'Yes' if any(x in group.values for x in ['Human non-staff', 'Bicycle']) else 'No'

search_presence = human_wildlife_4s.groupby('Date')['Common.Name'].apply(check_human_or_bicycle).reset_index(name='Search Presence')

# Merge the two DataFrames to create a final DataFrame with three columns
final4_df = counts_per_common_name.merge(search_presence, on='Date')


# ## bar plot commented out so do not overwrite output
#plt.figure(figsize=(10, 6))
#for common_name in human_wildlife_4s['Common.Name'].unique():
#    plt.bar(final4_df[final4_df['Common.Name'] == common_name]['Date'],
#            final4_df[final4_df['Common.Name'] == common_name]['Total Count'],
#            label=common_name)

#plt.xlabel('Date')
#plt.ylabel('Total Count')
#plt.title('Station d55071: Total Counts for Each Common Name')
#plt.legend()
#plt.xticks(rotation=45)
#plt.tight_layout()

# Save the plot to a PNG file
#plt.savefig('plot_d55071.png', dpi=300)  
#plt.show()

In [15]:
#Station d65901
# Calculate the total count of wildlife occurrences for 'Yes' and 'No' in 'Search Presence'
#wildlife_counts = final1_df.groupby('Search Presence')['Total Count'].sum()

# Plot the results commented out so do not overwrite output
#plt.bar(wildlife_counts.index, wildlife_counts.values)
#plt.xlabel('Search Presence')
#plt.ylabel('Total Count of Wildlife Occurrences')
#plt.title('Station d65901: Wildlife Occurrences with Search Presence: Yes vs. No')
#plt.xticks(rotation=0)

#plt.savefig('plot_Station_d65901_occur.png', dpi=300)

In [16]:
#Station d60066
# Calculate the total count of wildlife occurrences for 'Yes' and 'No' in 'Search Presence'
#wildlife_counts = final2_df.groupby('Search Presence')['Total Count'].sum()

# Plot the results commented out so do not overwrite output
#plt.bar(wildlife_counts.index, wildlife_counts.values)
#plt.xlabel('Search Presence')
#plt.ylabel('Total Count of Wildlife Occurrences')
#plt.title('Station d60066: Wildlife Occurrences with Search Presence: Yes vs. No')
#plt.xticks(rotation=0)

#plt.savefig('plot_Station_d60066_occur.png', dpi=300)

In [17]:
#Station d65909
# Calculate the total count of wildlife occurrences for 'Yes' and 'No' in 'Search Presence'
#wildlife_counts = final3_df.groupby('Search Presence')['Total Count'].sum()

# Plot the results commented out so do not overwrite output
#plt.bar(wildlife_counts.index, wildlife_counts.values)
#plt.xlabel('Search Presence')
#plt.ylabel('Total Count of Wildlife Occurrences')
#plt.title('Station d65909: Wildlife Occurrences with Search Presence: Yes vs. No')
#plt.xticks(rotation=0)

#plt.savefig('plot_Station_d65909_occur.png', dpi=300)

In [18]:
#Station d55071
# Calculate the total count of wildlife occurrences for 'Yes' and 'No' in 'Search Presence'
#wildlife_counts = final4_df.groupby('Search Presence')['Total Count'].sum()

# Plot the results commented out so do not overwrite output
#plt.bar(wildlife_counts.index, wildlife_counts.values)
#plt.xlabel('Search Presence')
#plt.ylabel('Total Count of Wildlife Occurrences')
#plt.title('Station d55071: Wildlife Occurrences with Search Presence: Yes vs. No')
#plt.xticks(rotation=0)

#plt.savefig('plot_Station_d55071_occur.png', dpi=300)

In [19]:
#human_wildlife_1s  Station d65901
# Separate the data for 'Yes' and 'No' cases
wildlife1_yes = final1_df[final1_df['Search Presence'] == 'Yes']['Total Count']
wildlife1_no = final1_df[final1_df['Search Presence'] == 'No']['Total Count']

# Perform the two-sample t-test
t_statistic, p_value = stats.ttest_ind(wildlife1_yes, wildlife1_no)

# Print the results
print(f'Station d65901: P-Value: {p_value}')
#Station d65901:P-Value: 0.5638934783239979, Null Hypothestis is there are fewer sightings of wildlife when humans are present.

Station d65901: P-Value: 0.5638934783239979

In [20]:
#human_wildlife_2s  Station d60066
# Separate the data for 'Yes' and 'No' cases
wildlife2_yes = final2_df[final2_df['Search Presence'] == 'Yes']['Total Count']
wildlife2_no = final2_df[final2_df['Search Presence'] == 'No']['Total Count']

# Perform the two-sample t-test
t_statistic, p_value = stats.ttest_ind(wildlife2_yes, wildlife2_no)

# Print the results
print(f'Station d60066: P-Value: {p_value}')
#Station d60066: P-Value: 0.5495702808838419
#Null Hypothestis there are fewer sightings of wildlife when humans are present.
#As p-Value is greater than 0.05 then the data failed to reject the Null Hypothesis

Station d60066: P-Value: 0.5495702808838419

C:\Users\kwlay\AppData\Local\Temp\ipykernel_14068\433926824.py:7: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  t_statistic, p_value = stats.ttest_ind(wildlife2_yes, wildlife2_no)

In [21]:
#human_wildlife_3s  Station d65909
# Separate the data for 'Yes' and 'No' cases
wildlife3_yes = final3_df[final3_df['Search Presence'] == 'Yes']['Total Count']
wildlife3_no = final3_df[final3_df['Search Presence'] == 'No']['Total Count']

# Perform the two-sample t-test
t_statistic, p_value = stats.ttest_ind(wildlife3_yes, wildlife3_no)

# Print the results
print(f'Station d65909: P-Value: {p_value}')
#Station d65909: P-Value: 0.8250596632724687
#Null Hypothestis is there are fewer sightings of wildlife when humans are present.
#As p-Value is greater than 0.05 then the data failed to reject the Null Hypothesis

Station d65909: P-Value: 0.8250596632724687

In [22]:
#human_wildlife_4s  Station d55071
# Separate the data for 'Yes' and 'No' cases
wildlife4_yes = final4_df[final4_df['Search Presence'] == 'Yes']['Total Count']
wildlife4_no = final4_df[final4_df['Search Presence'] == 'No']['Total Count']

# Perform the two-sample t-test
t_statistic, p_value = stats.ttest_ind(wildlife4_yes, wildlife4_no)

# Print the results
print(f'Station d55071: P-Value: {p_value}')
#Station d55071: P-Value: 0.016746640302199956
#Null Hypothestis is there are fewer sightings of wildlife when humans are present.
#As p-Value is less than 0.05 then this rejected the Null Hypothesis

Station d55071: P-Value: 0.016746640302199956